body{
    height: 100vh;
    width:100vw;
    background-color:#B4DFE5;
    margin:0px;
        font-family: 'Roboto', sans-serif;
    

}
.up-pro{
    font-size: larger;
}
.profile-upload {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .plus-symbol {
    font-size: 2em;
    color: #888; 
    text-align: center;
    line-height: 1;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; 
  }


.name{
    display: flex;
    height:38px;
    gap:48px;
   
}
.add{
    margin-top: 8px;
    display:flex;
    height:38px;
    gap:13px;
}
.user{
    margin-top: 8px;
    display:flex;
    height:38px;
    gap:43px;
}
.pass{
    margin-top: 8px;
    display:flex;
    height:38px;
    gap:44px; 
}
.class{
    display: flex;
    gap:75px;
    width:90px;
    height:38px;
    margin-top: 8px;
}
.school{
    display: flex;
    height:38px;
    gap:10px;
    margin-top: 8px;
}
.con{
    display: flex;
    height:38px;
    gap:12px;
    margin-top: 8px;
}
.container{
    display: flex;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}
.extra{
    display: flex;
    margin-left: 250px;
    flex-direction: column;
    margin-top: 100px;
}
.secrole{
    display: flex;
    height:38px;
    gap:18px;
    margin-top: 8px;
    width:180px;
}

.response{
    display: flex;
    height:38px;
    gap:60px;
    margin-top: 8px;
    width:250px;
}





.submit{
    margin-left: 200px;
    width:100px;
    height:20px;
    background-color: #303C6C ;
    color: #fff;
    margin-top: 0%;
}
.responsibility{
    display: flex;
    height:38px;
    gap:15px;
    margin-top: 8px;
}
.bioinfo{
    width:450px;
    height:100px;
    text-align: center;
}
.term{
    width:450px;
    height:100px;
    background-color: #eedbb0;
    text-align: center;
    font-size:small;
   
}
.condition{
   font-size: 18px;
   margin-top: 20%;
}
.check{
    width:18px;
    height:18px;
}
.agree{
    font-size: 14px;
}

.sub{
    margin-left: 200px;
    width:100px;
    height:24px;
    background-color: #303C6C ;
    color: #fff;
    margin-top: 0%;
}